@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

.EventAdded {
  text-align: center;
  .thank-header {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  .event-confirm {
    margin-bottom: 1rem;
    font-size: 5rem;
    color: lighten($color1, 20%);
  }
  .success-msg {
    font-weight: bold;
    color: lighten($color1, 20%);
    font-size: 1.1rem;
    text-decoration: underline;
  }
  .success-paragraph{
    span{
      font-weight: bold;
      display: block;
    }
  }
  .ok-btn{
    @include basic-button(lighten($color1, 20%));
    font-size: 1rem;
    font-weight: 500;
    padding: 0.3rem 1rem;
  }
}
