
$color1: #5f17e1;
$color2: white;
$color3: black;
// $color4: #f8f8f8;
$color4: #F3F7FF;
$disabled-color: #c6c6c6;

$bg-color: linear-gradient(to bottom right, #834ae9, #5f17e1);

$font-weights: (
  "regular": 400,
  "big": 700,
);


$mobile-xl: 1200px;
$mobile-large: 1000px;
$mobile-medium: 800px;
$mobile-small: 600px;
$mobile-xs: 450px;

$green-color: #09a409;

$border-radius: 5px;

$card-bg: #ebebec;
