
@import "./styles/variables.scss";
@import "./styles/mixin.scss";
@import "./styles/globals.scss";

body {
  margin: 0;
  background-color: $color2 !important;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background: lighten($color1, 20%);
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: lighten($color1, 30%);
  border-radius: 5px;
}
