@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.UpcomingEvents {
  @include flex-center(column);
  width: 100%;
  margin: 5rem 0;
  .upper-section {
    @include flex-center(row);
    justify-content: space-between;
    width: 90%;
    max-width: 83rem;
    h2 {
      margin: 0;
      text-align: center;
      font-weight: 600;
      color: darken($color1, 30%);
    }
    .categories {
      @include flex-center(row);
      gap: 1rem;
      .single-category {
        @include basic-button(darken($color1, 20%));
        @include flex-center(row);
        gap: 1rem;
        width: 10rem;
      }
    }
  }
  .events-container {
    @include flex-center(row);
    flex-wrap: wrap;
    width: 90%;
    max-width: 83rem;
    margin: 2rem auto;
    min-height: 20rem;
    gap: 1rem;
    row-gap: 3rem;
    .error-message-section {
      color: darken($color1, 30%);
      font-size: 1.3rem;
    }
  }
  .view-all-btn {
    display: none;
    border-radius: 5px;
    border: 1px $color1 solid;
    color: $color1;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    padding: 0.7rem;
    width: 10rem;
    transition: all 0.5s;
    cursor: pointer;
    direction: rtl;
    position: relative;
    background: none;
    overflow: hidden;

    &::after {
      content: "»";
      direction: ltr;
      position: absolute;
      opacity: 0;
      font-size: 1.4rem;
      top: 6px;
      right: -20px;
      transition: 0.5s;
    }
    &:hover {
      padding-right: 24px;
      padding-left: 8px;

      &::after {
        opacity: 1;
        right: 20px;
      }
    }

    // HEBREW button
    &.hebrew {
      direction: ltr;

      &::after {
        content: none;
        display: none;
      }
      &::before {
        content: "»";
        direction: rtl;
        position: absolute;
        opacity: 0;
        font-size: 1.4rem;
        top: 6px;
        left: -20px;
        transition: 0.5s;
      }
      &:hover {
        padding-left: 24px;
        padding-right: 8px;

        &::before {
          opacity: 1;
          left: 20px;
        }
      }
    }
  }
  button.view-all-btn {
    margin: 0;
    display: block;
  }
}

@media only screen and (max-width: 1550px) {
  .UpcomingEvents {
    .upper-section,
    .events-container {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 1350px) {
  .UpcomingEvents {
    .upper-section {
      // width: 65rem;
      padding: 0 2rem;
    }
    .events-container {
      width: 65rem;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .UpcomingEvents {
    .upper-section {
      width: 42rem;
      padding: 0 1rem;
      flex-direction: column;
      gap: 2rem;
    }
    .events-container {
      width: 42rem;
    }
  }
}
@media only screen and (max-width: 800px) {
  .UpcomingEvents {
    .upper-section {
      .categories {
        max-width: 30rem;
        flex-wrap: wrap;
        .single-category {
          width: 14rem;
        }
      }
    }
    .events-container {
      width: 100%;
    }
    .view-all-btn-bottom {
      display: block;
      margin-top: 3rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .UpcomingEvents {
    .upper-section {
      .categories {
        width: 100%;
        .single-category {
          width: 10rem;
        }
      }
    }
  }
}
